body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 25px 100px;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
}

.header__nav {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 10px;
}

.header__nav a {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 500px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 25px;
    padding: 25px 100px;
}

.hero div {
    flex: 1;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero__img {
    background-color: #E5E7EB;
    height: 320px;
    flex: 1;
}

.sign-up {
    padding: 5px 15px;
    background-color: #3882f6;
    text-decoration: none;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 5px
}

.info {
    text-align: center;
    padding: 75px;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100px;
    height: 100px;
    border: #3882f6 solid 3px;
    border-radius: 5px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    
    padding: 50px 100px;
}

.quote__text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote__person {
    text-align: right;
    font-weight: bold;
}

.cta {
    padding: 75px;
}

.cta-blu-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    width: 750px;
    margin: auto;
    padding: 5px;
}

.sign-up-white-border {
    border: #f9faf8 solid 2px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 25px;
}